<ul class="nav pcoded-inner-navbar ">
    <li class="nav-item pcoded-menu-caption">
        <label>Resume</label>
    </li>
    <li class="nav-item">
        <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-grid"></i></span><span class="pcoded-mtext">Dashboard</span></a>
    </li>
    <li class="nav-item pcoded-menu-caption">
        <label>Menu Utama</label>
    </li>
    <li class="nav-item pcoded-hasmenu">
        <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-save"></i></span><span class="pcoded-mtext">Master Data</span></a>
        <ul class="pcoded-submenu">
            <li><a href="/admin/user">User</a></li>
        </ul>
    </li>
    
    <li class="nav-item pcoded-menu-caption">
        <label>Portal Admin</label>
    </li>
    
    <li class="nav-item"><a href="/admin/transaction" class="nav-link "><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Transaksi</span></a></li>
    <li class="nav-item pcoded-menu-caption">
        <label>Auth</label>
    </li>
    <li class="nav-item"><a href="/admin/logout" class="nav-link "><span class="pcoded-micon"><i class="feather icon-log-out"></i></span><span class="pcoded-mtext">Logout</span></a></li>
</ul>
